@charset "UTF-8";
/* line 14, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* Global Vars */
/* http://www.colourlovers.com/palette/46688/fresh_cut_day */
/* Global Styles */
@font-face {
  font-family: 'CantarellRegular';
  src: url("Cantarell-Regular-webfont.eot");
  src: local("☺"), url("../fonts/Cantarell-Regular-webfont.woff") format("woff"), url("../fonts/Cantarell-Regular-webfont.ttf") format("truetype"), url("../fonts/Cantarell-Regular-webfont.svg#webfontABgg4EO0") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellOblique';
  src: url("Cantarell-Oblique-webfont.eot");
  src: local("☺"), url("../fonts/Cantarell-Oblique-webfont.woff") format("woff"), url("../fonts/Cantarell-Oblique-webfont.ttf") format("truetype"), url("../fonts/Cantarell-Oblique-webfont.svg#webfont3PgZ7J9k") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellBold';
  src: url("Cantarell-Bold-webfont.eot");
  src: local("☺"), url("../fonts/Cantarell-Bold-webfont.woff") format("woff"), url("../fonts/Cantarell-Bold-webfont.ttf") format("truetype"), url("../fonts/Cantarell-Bold-webfont.svg#webfontrmxS4R7l") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellBoldOblique';
  src: url("Cantarell-BoldOblique-webfont.eot");
  src: local("☺"), url("../fonts/Cantarell-BoldOblique-webfont.woff") format("woff"), url("../fonts/Cantarell-BoldOblique-webfont.ttf") format("truetype"), url("../fonts/Cantarell-BoldOblique-webfont.svg#webfontkS4olXm8") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 28, src/screen.scss */
body {
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  line-height: 1.3em;
  color: #474747;
  background-color: #44ccd9;
  background-image: url('/squidtix/images/bg.pattern4.png?1294175857');
}

/* line 36, src/screen.scss */
a {
  text-decoration: none;
}
/* line 38, src/screen.scss */
a:focus {
  outline: 1px dotted;
}

/* line 40, src/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: 'CantarellBold';
}

/* Helpers */
/* Partials for different pages */
/* line 7, src/partials/_admin.scss */
body.admin #wrapper {
  width: 960px;
  margin: 25px auto;
}
/* line 12, src/partials/_admin.scss */
body.admin h1 {
  float: left;
  font-size: 3em;
  line-height: 1em;
  margin-top: -0.16em;
  margin-left: -0.12em;
  padding-bottom: 25px;
  color: #47474c;
  text-shadow: #ccccdd 0 1px 1px;
}
/* line 23, src/partials/_admin.scss */
body.admin ul#account {
  margin-right: 0.1em;
  display: block;
  float: right;
}
/* line 27, src/partials/_admin.scss */
body.admin ul#account li {
  display: block;
  float: left;
  text-align: right;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #2fb7c4;
  text-shadow: #ccccdd 0 1px 1px;
}
/* line 36, src/partials/_admin.scss */
body.admin ul#account li.first {
  border-left: 0;
}
/* line 37, src/partials/_admin.scss */
body.admin ul#account li a {
  color: #474747;
}
/* line 44, src/partials/_admin.scss */
body.admin ul#navigation {
  clear: both;
  display: block;
  *zoom: 1;
  margin-top: 10px;
}
/* line 22, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.admin ul#navigation:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 50, src/partials/_admin.scss */
body.admin ul#navigation li {
  display: block;
  float: left;
}
/* line 53, src/partials/_admin.scss */
body.admin ul#navigation li a {
  display: block;
  padding: 0 18px;
  height: 40px;
  line-height: 40px;
  position: relative;
  top: 1px;
  font-size: 1.1em;
  font-family: 'CantarellBold';
  color: #47474c;
  border-top: 1px solid #44ccd9;
  border-left: 1px solid #44ccd9;
  border-right: 1px solid #44ccd9;
  text-shadow: #ccccdd 0 1px 1px;
}
/* line 68, src/partials/_admin.scss */
body.admin ul#navigation li.selected a {
  color: #474747;
  background: #fff8ed;
  border-top: 1px solid #aaa398;
  border-left: 1px solid #aaa398;
  border-right: 1px solid #aaa398;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  text-shadow: none;
}
/* line 80, src/partials/_admin.scss */
body.admin #content {
  *zoom: 1;
  background: #fff8ed;
  border: 1px solid #aaa398;
  -moz-border-radius-topright: 18px;
  -webkit-border-top-right-radius: 18px;
  -o-border-top-right-radius: 18px;
  -ms-border-top-right-radius: 18px;
  -khtml-border-top-right-radius: 18px;
  border-top-right-radius: 18px;
  -moz-border-radius-bottomleft: 18px;
  -webkit-border-bottom-left-radius: 18px;
  -o-border-bottom-left-radius: 18px;
  -ms-border-bottom-left-radius: 18px;
  -khtml-border-bottom-left-radius: 18px;
  border-bottom-left-radius: 18px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 22, ../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.admin #content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 88, src/partials/_admin.scss */
body.admin #content .main {
  padding: 15px 18px;
  min-height: 200px;
}
/* line 92, src/partials/_admin.scss */
body.admin #content.has-sidebar .main {
  float: left;
  width: 656px;
}
/* line 98, src/partials/_admin.scss */
body.admin #content .sidebar {
  float: right;
  width: 230px;
  padding: 15px 18px;
  background: #e3ddd3;
  -moz-border-radius-topright: 18px;
  -webkit-border-top-right-radius: 18px;
  -o-border-top-right-radius: 18px;
  -ms-border-top-right-radius: 18px;
  -khtml-border-top-right-radius: 18px;
  border-top-right-radius: 18px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  min-height: 200px;
}
/* line 109, src/partials/_admin.scss */
body.admin #content h2 {
  font-size: 2.5em;
  line-height: 1em;
  padding-bottom: 0.6em;
  margin-left: -0.1em;
}
/* line 115, src/partials/_admin.scss */
body.admin #content h3 {
  font-size: 1.3em;
  margin-left: -0.05em;
  padding-bottom: 0.6em;
}
/* line 123, src/partials/_admin.scss */
body.admin #footer {
  font-size: 0.8em;
  padding-left: 18px;
  line-height: 2.5em;
  color: #008895;
}
/* line 128, src/partials/_admin.scss */
body.admin #footer .legal {
  float: right;
  width: 40%;
  margin-right: -0.15em;
  text-align: right;
}
/* line 134, src/partials/_admin.scss */
body.admin #footer a {
  color: #474747;
}
/* line 136, src/partials/_admin.scss */
body.admin #footer a:hover, body.admin #footer a:active {
  border-bottom: 1px solid #474747;
}

/* line 3, src/partials/_process.scss */
body.process input#terms {
  font-size: 1.4em;
  line-height: 1em;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #474747;
}
