
@import "compass/reset";
@import "compass/utilities";
@import "compass/css3";

/* Global Vars */

$colorBodyBG: #44CCD9;
//$colorContentBG: #FFFAF6;
$colorContentBG: #fffefb;
$colorFooterBG: #E3DDD3 - #aaa;

$colorContentBorder: $colorContentBG - #555;
//#00A8C6;

$colorText: #474747;

$radiusSharp: 6px;
$radiusBlunt: 18px;

$gutter: 20px;


/* Global Styles */
@import "partials/fonts";

body {
	font-family: Verdana, sans-serif;
	font-size: 0.8em;
	line-height: 1.3em;
	color: $colorText;
	background: #colorFooterBG;
}
a {
	text-decoration: none;
	&:focus { outline: 1px dotted; }
}
h1,h2,h3,h4,h5 {
	font-family: 'CantarellBold';
}

/* Helpers */
@mixin letter-press {
	//@include text-shadow($colorBodyBG + #151515, 0, 1px, 1px);
	@include text-shadow(#ccd, 0, 1px, 1px);
}

/* Partials for different pages */
@import "partials/admin";
@import "partials/process";
