@charset "UTF-8";
/* line 14, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* Global Vars */
/*
$colorWhite: #fffefb;

$colorBaseMedium: #44CCD9;
$colorBaseLight: lighten(desaturate($colorBaseMedium, 25%), 25%);
$colorBaseHeavy: $colorBaseMedium - #222;

$colorGreyLight: $colorWhite - #555;
$colorGreyHeavy: #E3DDD3 - #aaa;
$colorGreyMedium: lighten(desaturate(#E3DDD3 - #aaa, 25%), 25%);

$colorBlack: #474747;

$colorFocusMedium: adjust-hue($colorBaseMedium, -110deg);
$colorFocusLight: lighten(desaturate($colorFocusMedium, 25%), 25%);
$colorFocusHeavy: darken(saturate($colorFocusMedium, 25%), 25%);
*/
/* Global Styles */
@font-face {
  font-family: 'ChunkFiveRegular';
  src: url("../fonts/Chunkfive-webfont.eot");
  src: local("☺"), url("../fonts/Chunkfive-webfont.woff") format("woff"), url("../fonts/Chunkfive-webfont.ttf") format("truetype"), url("../fonts/Chunkfive-webfont.svg#webfont90E2uSjN") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellRegular';
  src: url("Cantarell-Regular-webfont.eot");
  src: local("☺"), url("../fonts/Cantarell-Regular-webfont.woff") format("woff"), url("../fonts/Cantarell-Regular-webfont.ttf") format("truetype"), url("../fonts/Cantarell-Regular-webfont.svg#webfontABgg4EO0") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellOblique';
  src: url("Cantarell-Oblique-webfont.eot");
  src: local("☺"), url("../fonts/Cantarell-Oblique-webfont.woff") format("woff"), url("../fonts/Cantarell-Oblique-webfont.ttf") format("truetype"), url("../fonts/Cantarell-Oblique-webfont.svg#webfont3PgZ7J9k") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellBold';
  src: url("Cantarell-Bold-webfont.eot");
  src: local("☺"), url("../fonts/Cantarell-Bold-webfont.woff") format("woff"), url("../fonts/Cantarell-Bold-webfont.ttf") format("truetype"), url("../fonts/Cantarell-Bold-webfont.svg#webfontrmxS4R7l") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CantarellBoldOblique';
  src: url("Cantarell-BoldOblique-webfont.eot");
  src: local("☺"), url("../fonts/Cantarell-BoldOblique-webfont.woff") format("woff"), url("../fonts/Cantarell-BoldOblique-webfont.ttf") format("truetype"), url("../fonts/Cantarell-BoldOblique-webfont.svg#webfontkS4olXm8") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 58, src/screen.scss */
body {
  font-family: Verdana, sans-serif;
  font-size: 0.8em;
  line-height: 1.3em;
  color: #2d2c2c;
  background: #3290d7;
}

/* line 65, src/screen.scss */
a {
  text-decoration: none;
}
/* line 67, src/screen.scss */
a:focus {
  outline: 1px dotted;
}

/* line 69, src/screen.scss */
h1, h2, h3, h4, h5 {
  font-family: 'ChunkFiveRegular';
}

/* Helpers */
/* Partials for different pages */
/* line 2, src/partials/_admin.scss */
body.admin {
  background: #3a3a3a;
}
/* line 5, src/partials/_admin.scss */
body.admin .container {
  width: 960px;
  margin: 0 auto;
  position: relative;
}
/* line 11, src/partials/_admin.scss */
body.admin #header {
  color: #fdfdfd;
  background-color: #3290d7;
  background-image: url('../images/bg.pattern4.png?1294837972');
}
/* line 15, src/partials/_admin.scss */
body.admin #header .container {
  *zoom: 1;
  padding-top: 15px;
  height: 62px;
  /* Maintain height when nav bar not present.*/
}
/* line 22, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.admin #header .container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 21, src/partials/_admin.scss */
body.admin #header h1 {
  position: absolute;
  display: block;
  left: 0;
  font-size: 4em;
  line-height: 1em;
  padding-top: 0.05em;
  margin-left: -0.04em;
  /* Align content below with the vertical
     stroke of the "D" glyph. */
  text-shadow: #1c6aa5 0px 1px 1px;
}
/* line 33, src/partials/_admin.scss */
body.admin #header ul.account {
  margin-right: 0.1em;
  display: block;
  float: right;
}
/* line 37, src/partials/_admin.scss */
body.admin #header ul.account li {
  display: block;
  float: left;
  text-align: right;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #aacde4;
  text-shadow: #1c6aa5 0px 1px 1px;
}
/* line 46, src/partials/_admin.scss */
body.admin #header ul.account li.first {
  border-left: 0;
}
/* line 47, src/partials/_admin.scss */
body.admin #header ul.account li a {
  color: #fdfdfd;
}
/* line 49, src/partials/_admin.scss */
body.admin #header ul.account li a:hover {
  border-bottom: 1px solid #fdfdfd;
}
/* line 55, src/partials/_admin.scss */
body.admin #header ul.navigation {
  clear: right;
  display: block;
  float: right;
  margin-top: 14px;
}
/* line 61, src/partials/_admin.scss */
body.admin #header ul.navigation li {
  display: block;
  float: left;
  margin-left: 5px;
  position: relative;
  top: 1px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 1;
}
/* line 70, src/partials/_admin.scss */
body.admin #header ul.navigation li a {
  display: block;
  padding: 1px 20px 0;
  height: 30px;
  line-height: 30px;
  font-size: 1em;
  font-weight: bold;
  color: #fdfdfd;
  border: 0;
  text-shadow: #1c6aa5 0px 1px 1px;
}
/* line 84, src/partials/_admin.scss */
body.admin #header ul.navigation li.selected a {
  color: #2d2c2c;
  background: #fdfdfd;
  padding-top: 0;
  border-top: 1px solid #f4f4ee;
  border-left: 1px solid #f4f4ee;
  border-right: 1px solid #f4f4ee;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  text-shadow: none;
}
/* line 99, src/partials/_admin.scss */
body.admin #content {
  clear: both;
  background-color: #fdfdfd;
  border-top: 1px solid #f4f4ee;
  border-bottom: 1px solid #f4f4ee;
}
/* line 108, src/partials/_admin.scss */
body.admin #content .panel {
  padding: 15px 0;
}
/* line 112, src/partials/_admin.scss */
body.admin #content h2 {
  font-size: 2.5em;
  line-height: 1em;
  padding-bottom: 0.6em;
  margin-left: -0.1em;
}
/* line 118, src/partials/_admin.scss */
body.admin #content h3 {
  font-size: 1.3em;
  margin-left: -0.05em;
  padding-bottom: 0.6em;
}
/* line 126, src/partials/_admin.scss */
body.admin #footer {
  font-size: 0.85em;
  line-height: 2.5em;
  color: #e4e4e4;
  background-color: #3a3a3a;
}
/* line 132, src/partials/_admin.scss */
body.admin #footer .legal {
  display: block;
  margin-right: -0.15em;
  text-align: right;
}
/* line 137, src/partials/_admin.scss */
body.admin #footer a {
  text-shadow: #2d2c2c 0px 1px 1px;
  color: #3290d7;
}
/* line 140, src/partials/_admin.scss */
body.admin #footer a:hover, body.admin #footer a:active {
  border-bottom: 1px solid #3290d7;
}

/* line 4, src/partials/_process.scss */
body.process #content .container .slider {
  overflow: hidden;
  position: relative;
}
/* line 8, src/partials/_process.scss */
body.process #content .container .slider .panel {
  display: block;
  position: relative;
  opacity: 1;
  min-height: 350px;
  width: 960px;
}
/* line 15, src/partials/_process.scss */
body.process #content .container .slider .panel.hide {
  position: absolute;
  top: 0;
  opacity: 0;
}
/* line 21, src/partials/_process.scss */
body.process #content .container .slider .panel.hide.previous {
  left: -960px;
}
/* line 24, src/partials/_process.scss */
body.process #content .container .slider .panel.hide.next {
  right: -960px;
}
/* line 36, src/partials/_process.scss */
body.process #search .form, body.process #search-results .form {
  display: block;
  width: 600px;
  margin: 60px auto 0;
  padding: 10px;
  background: #e5e5db;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
}
/* line 22, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.process #search .form:after, body.process #search-results .form:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 45, src/partials/_process.scss */
body.process #search .form .text, body.process #search .form .button, body.process #search-results .form .text, body.process #search-results .form .button {
  float: left;
  display: inline-block;
  font-size: 16px;
  border: 3px solid #fe9909;
}
/* line 51, src/partials/_process.scss */
body.process #search .form .text, body.process #search-results .form .text {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 473px;
  height: 32px;
  line-height: 32px;
  padding: 5px 10px;
  border-right: 0;
}
/* line 58, src/partials/_process.scss */
body.process #search .form .button, body.process #search-results .form .button {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  width: 100px;
  height: 48px;
  line-height: 48px;
  background-color: brighten(#fe9909, 30%);
  /*				@include multi-box-shadow(1px 1px 2px 0px $colorHighlight2Light inset, -1px -1px 1px 0px $colorHighlight2Heavy inset);
  				@include linear-gradient(color-stops($colorHighlight2, #{$colorHighlight2Light}), center top);
  				background-image: -moz-linear-gradient(center top, $colorHighlight2, #{$colorHighlight2Light}) repeat scroll 0 0 transparent
  */
}
/* line 70, src/partials/_process.scss */
body.process #search .info, body.process #search-results .info {
  *zoom: 1;
  display: block;
  width: 420px;
  margin: 0 auto 60px;
  background: #e5e5db;
  padding: 15px 10px 0;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* line 22, ../../../../../../../../../home/rhoward/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body.process #search .info:after, body.process #search-results .info:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 79, src/partials/_process.scss */
body.process #search .info li, body.process #search-results .info li {
  clear: both;
  display: block;
}
/* line 83, src/partials/_process.scss */
body.process #search .info li h2, body.process #search-results .info li h2 {
  font-size: 2.7em;
  line-height: 0.8em;
  padding-top: 0.1em;
  padding-left: 70px;
  /* Room for icon. */
  display: block;
  float: left;
  width: 4em;
}
