
body.admin {

	$fullWidth: 960px;
	$sidebarWidth: 230px;

	#wrapper {
		width: $fullWidth;
		margin: 25px auto;
	}
	
	h1 {
		float: left;
		font-size: 3em;
		line-height: 1em;
		margin-top: -0.16em;
		margin-left: -0.12em;
		padding-bottom: 25px;
		color: $colorText + #000005;
		@include letter-press;
	}

	ul#account {
		margin-right: 0.1em;
		display: block;
		float: right;
		li {
			display: block;
			float: left;
			text-align: right;
			margin-left: 10px;
			padding-left: 10px;
			border-left: 1px solid ($colorBodyBG - #151515);
			@include letter-press;

			&.first { border-left: 0; }
			a {
				color: $colorText;
			}
		}
	}


	ul#navigation {
		clear: both;
		display: block;
		@include pie-clearfix;
		margin-top: 10px;

		li {
			display: block;
			float: left;
			a {
				display: block;
				padding: 0 $gutter;
				height: 40px;
				line-height: 40px;
				position: relative;
				top: 1px;
				font-size: 1.1em;
				font-family: 'CantarellBold';
				color: $colorText + #000005;
				border-top: 1px solid $colorBodyBG;
				border-left: 1px solid $colorBodyBG;
				border-right: 1px solid $colorBodyBG;
				@include letter-press;
			}
			&.selected a {
				color: $colorText;
				background: $colorContentBG;
				border-top: 1px solid $colorContentBorder;
				border-left: 1px solid $colorContentBorder;
				border-right: 1px solid $colorContentBorder;
				@include border-top-radius($radiusSharp);
				@include text-shadow(none);
			}
		}
	}

	#content {
		@include pie-clearfix;
		background: $colorContentBG;
		border: 1px solid $colorContentBorder;
		@include border-top-right-radius($radiusBlunt);
		@include border-bottom-left-radius($radiusBlunt);
		@include border-bottom-right-radius($radiusSharp);

		.main {
			padding: 15px $gutter;
			min-height: 200px;
		}
		&.has-sidebar .main {
			float: left;
			// Sidebar gutters + Main gutters + 2px #content border
			width: $fullWidth - $sidebarWidth - ($gutter*4) - 2px;
		}

		.sidebar {
			float: right;
			width: $sidebarWidth;
			padding: 15px $gutter;
			background: $colorSidebarBG;
			@include border-top-right-radius($radiusBlunt);
			@include border-bottom-right-radius($radiusSharp);
			min-height: 200px;
		}


		h2 {
			font-size: 2.5em;
			line-height: 1em;
			padding-bottom: 0.6em;
			margin-left: -0.1em;
		}
		h3 {
			font-size: 1.3em;
			margin-left: -0.05em;
			padding-bottom: 0.6em;
		}
	}


	#footer {
		font-size: 0.8em;
		padding-left: $gutter;
		line-height: 2.5em;
		color: $colorBodyBG - #444;
		.legal {
			float: right;
			width: 40%;
			margin-right: -0.15em;
			text-align: right;
		}
		a {
			color: $colorText;
			&:hover,&:active {
				border-bottom: 1px solid $colorText;
			}
		}
	}

}
