body.process {

	#search {
		$formWidth: 600px;
		$buttonWidth: 100px;

		.form {
			display: block;
			width: $formWidth;
			margin: 60px auto 0;
			padding: 10px;
			background: $colorBaseLight;
			@include border-radius($radiusNeutral);
			@include pie-clearfix;

			.text, .button {
				display: inline-block;
				border: 1px solid $colorGreyMedium;
				font-size: 16px;
			}
			.text {
				@include border-left-radius($radiusNeutral);
				width: $formWidth - $buttonWidth - 7px - 20px;
				height: 32px; line-height: 32px;
				padding: 5px 10px;
				float: left;
			}
			.button {
				@include border-right-radius($radiusNeutral);
				margin-left: 5px;
				width: $buttonWidth;
				height: 44px; line-height: 44px;
				float: left;
				background: $colorFocusMedium;
				@include multi-box-shadow(1px 1px 2px 0px $colorFocusLight inset, -1px -1px 1px 0px $colorFocusHeavy inset);
			}
		}

		.info {
			@include pie-clearfix;
			display: block;
			width: 420px;
			margin: 0 auto 60px;
			background: $colorBaseLight;
			padding: 15px 10px 0;
			@include border-bottom-radius($radiusNeutral);

			li {
				clear: both;
				display: block;

				h2 {
					font-size: 2.7em;
					line-height: 0.8em;
					padding-top: 0.1em;
					padding-left: 70px; /* Room for icon. */
					display: block;
					float: left;
					width: 4em;
				}
			}
		}


	}

	input#terms {
	}




}
